
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warrant Screener</title>

    <head>
        {% block head %}{% endblock %}
    </head>
    <body>

        {% block content %}{% endblock %}

        <br><br>

    </body>
    <footer>
        <hr>
        <small>Created by <a href="http://github.com/amirmazmi"><i>speedy</i><a></small>
    </footer>


    <style>
        .titlebar {
            text-align: center;
        }
        footer {
            position: fixed;
            left: 0;
            bottom: 1;
            width: 100%;
            text-align: center;
            padding-bottom: 3px;
            /*background-color: DarkSalmon;*/
            color: blue;
        }
    </style>
</html>
